.shape-bottom {
	bottom: 0;
	left: 0;
	right: 0;
}

.shape {
	pointer-events: none;
	position: absolute;
}

.text-white {
	color: var(--bs-white) !important;
}

.shape-fluid-x {
	height: auto;
	width: 100%;
}

.img-top {
	min-height: 1px;
	position: relative;
}

.position-relative {
	position: relative !important;
}
.card-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 15px 15px 15px;
}

.mt-auto {
	margin-top: auto !important;
}

.card-meta-divider {
	margin: 10px;
	width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid;
	color: var(--bs-border-color);
	margin: 1rem 0;
	opacity: 1;
}

.my-card:hover {
	box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05) !important;
	transform: translate3d(0, -5px, 0);
}

.shadow-light-lg {
	box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;
}

.lift {
	box-shadow: 0 0 0 rgba(22, 28, 45, 0);
	transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.my-navbar {
	border-bottom: 5px solid purple;
}

.lift-lg:focus,
.lift-lg:hover {
	box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05) !important;
	transform: translate3d(0, -5px, 0);
}

.my-button {
	border: none;
	background: none;
	font-weight: bold;
	font-size: 20px;
}

@media (max-width: 576px) { 
	.media {
		margin: auto;
	}

	.svg-curve {
		display: none;
	}
 }